@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}
h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.questionCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 30px;
    background: rgba(100, 100, 100, 0.3);
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
}
.questionCard p {
    text-align: center;
}
.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.answers button {
    box-shadow: 10px 5px 10px grey;
    height: 30px;
    border-radius: 5px;
    border: 2px solid skyblue;
    background: white;
}
.nav-buttons {
    display: flex;
    justify-content: center;
}
.nav-buttons button {
    padding: 10px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}
